---
title: Le Wagon - Middleman
---

<%= partial "components/banner", locals: { header: "Welcome home" } %>


<div class="cards-container">
  <h3 id="cards-title">Recent flats</h3>
  <div class="row">
    <%= partial "components/card" %>
  </div>
</div>